:root {
    /* Colors */
    --color-bg: #070F2B;
    --color-sec: #1B1A55;
    --color-btn: #9290C3;
    --color-txt: white;
}

body {
    background-color: var(--color-bg);
    color: var(--color-txt);
}

#container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: var(--color-sec);
    height: 200px;
    width: 300px;
}